@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat_profile_container{
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.45s ease-in-out;
}

a:link{
  text-decoration: none;
  color: white;
  white-space: pre-wrap;
}

.logged_In{
  translate: -450% 0;
}

.chat_profile{
  translate: 0 -250%;
}

.image_style{
  top: 2rem;
}

.right_container{
  position: relative;
}

.upload{
  position: absolute;
  right: 5.5rem;
  top: 2.5rem;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: antiquewhite;
  transition: all 0.15s ease-in-out;
}

.upload2{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: aliceblue;
  transition: all 0.15s ease-in-out;
}

.upload:focus{
  outline: none;
}

.upload:hover{
  background-color: #fff;
}

.upload:active{
  background-color: antiquewhite;
}

.upload2:focus{
  outline: none;
}

.upload2:hover{
  background-color: mediumaquamarine;
}

.upload2:active{
  background-color: aliceblue;
}

.light__mode{
  color: black;
  background-color: whitesmoke;
}

.dark__mode{
  color: white;
  background-color: rgba(0,0,0,0.85);
}

.leftLight__mode{
  color: black;
  background-color: rgba(0,0,0,0.3);
}

.empty__mode{
  color: black;
  background-color: #333333;
}

.leftContainer__mode{
  color: white;
  background-color: #333333;
}

.search__container{
  background-color: rgba(25,30,28);
  color: white;
}

.title{
  text-align: center;
  text-transform: capitalize;
  text-shadow: -2px 0 3px #FF0000, 0 2px 10px #0000FF;
}

.background_image{
  margin-top: -5rem;
  display: flex;
  justify-content: space-evenly;
}

.bg{
  width: 12.5rem;
  height: 15em;
  border-radius: 10px;
  border: 1px solid lightgray;
  transform: rotate(50deg);
}  

.img{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.article .about_topic{
  padding: 0.5rem;
  font-size: 35px;
  text-align: center;
}

.article .content{
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
}

.content .texts{
  word-wrap: normal;
  word-break: keep-all;
  text-align: justify;
  text-justify: inter-word;
  line-height: 18px;
}

.content:nth-last-child(){
  text-align: center;
}

@media (min-width: 768px){
  .modal_container{
    width: 65vw;
  }
}

@media (min-width: 968px){
  .modal_container{
    width: 52vw;
  }
}
/* @keyframes chat__profile {
  from{
    translate: 0 0;
  }
  to{
    translate: 0 0;
  } */


