@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat_profile_container{
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.45s ease-in-out;
}

a:link{
  text-decoration: none;
  color: white;
  white-space: pre-wrap;
}

.logged_In{
  translate: -450% 0;
}

.chat_profile{
  translate: 0 -250%;
}

.image_style{
  top: 2rem;
}

.right_container{
  position: relative;
}

.upload{
  position: absolute;
  right: 5.5rem;
  top: 2.5rem;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: antiquewhite;
  transition: all 0.15s ease-in-out;
}

.upload2{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: aliceblue;
  transition: all 0.15s ease-in-out;
}

.upload:focus{
  outline: none;
}

.upload:hover{
  background-color: #fff;
}

.upload:active{
  background-color: antiquewhite;
}

.upload2:focus{
  outline: none;
}

.upload2:hover{
  background-color: mediumaquamarine;
}

.upload2:active{
  background-color: aliceblue;
}

/* @keyframes chat__profile {
  from{
    translate: 0 0;
  }
  to{
    translate: 0 0;
  } */


